<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver android:name=".widget.receiver.ActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_API_CALL"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>