<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--  for lock  -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application>
        <activity
            android:name=".ui.LockedActivity"
            android:exported="false"
            android:label="@string/title_activity_locked"
            android:theme="@style/Theme.BusSchedule" />
        <service android:name=".service.LockService"
            android:foregroundServiceType="dataSync"
            android:enabled="true"
            android:exported="true"
            />
    </application>

</manifest>